
body{
  box-sizing: border-box;
}

img{
	height: 100%;
	width: 100%;
}

/* the order here roughly represents the order in the website */
/*Related to the Header */
.name_logo{
	width:100%;
}

.name{
	float:right;
	width:20%;
	text-transform:uppercase;
	font-family: "sans-serif";
	margin-right: 20%; /* so that entire name shows up even window resizes */
	margin-left: 0px;
}

.tagline{
	font-size: 100%;
	display: inline-block;
}

.my_name{
	font-size: 200%;
	display: inline-block;
}

.first_letter::first-letter{
	font-size:150%;
	color:#02b3e4;
}

.logo{
	float:left;
	width:275px;
	margin-right: 0px;
	margin-left: 15%;
	/*width:50%;*/
}

hr{ /* this is the line at the bottom of the header */
	position: relative;
	top: 15px;
	clear:both;
	height: 3px;
	background: #7d97ad;
	border-color: #7d97ad;
}

/*Related to main space with image and featured work*/
main{ /*TODO: Why is main not auto re-sizing to the actual height? */

}

.main_image{
	position: relative;
	top: 20px;
	width: 80%;
  margin:auto;
}

.featured_work_title{
	color: #7d97ad;
	font-size: 30px;
  text-align: center;
}

.side_info{
  text-align: center;
}

.button{
	position: relative;
	top:5px;
	border:1px solid;
	padding: 7px;
	border-radius: 5px;
	text-decoration: none; /* to remove underline under link*/
	color: white;
	background-color: #205fd7;
}

.button:hover{
	background-color: #1334e0;
}

/* for the flex-box */
.grid{
  display: flex;
}

.grid-cell{
  padding-top: 100%; /* for 1:1 aspect ratio */
  padding: 2.5%;
  width: 33%; /*need to specify width since each image is of diff resolution */
  margin: auto;
}

/* Related to the footer */
footer{
  text-align: center;
  height: 100px;
  bottom:0px;
}

.footer_text{
  margin-top: 5%;
  font-size: 18px;
}

/* media queries to alter the size of text when screen size is changed */
@media only screen and (max-width : 700px) {
	.name{
		font-size: 7px;
	}

	.logo{
		width: 30%;
		margin-left: 10%;
	}

  .featured_work_title{
    font-size: 30px;
    margin-left: 25%;
    margin: auto;
  }

  .grid{
    flex-wrap: wrap;
  }

  .grid-cell{
    width: 60%;
    margin: auto;
  }

  .button{
    font-size: 15px;
  }

}
